.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}

.circle {
	border-radius: 50%;
}

.orderWise {
	position: absolute;
	top: 3px;
	left: 3px;
}

.buttons {
	position: absolute;
	top: 280px;
	left: 525px;
}

.button {
	position: absolute;
	top: 260px;
	left: 590px;
}

.shapeStyle {
	position: absolute;
	top: 60px;
	left: 900px;
}

.box {
	position: absolute;
	top: 5%;
	left: 45%;
	height: 205px;
	width: 205px;
	border: 3px solid black;
}

.highlight {
	border: 2px dashed black;
}

.shapeHighlight {
border: 2px solid black;
}

.container {
	border: 2px solid black;
	width: max-content;
	margin-top: 3%;
}

.filterShape {
	position: absolute;
	left: 0%;
	top: 0%;
}

.filterShapes {
	position: absolute;
	left: 0%;
	top: 5%;
}

.filter {
	position: absolute;
	left: 85%;
	top: 10%;
}

.dropDown {
	position: absolute;
	left: 0;
}
