.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}

.circle {
	border-radius: 50%;
}

.shape {
	border: 3px solid black;
}

.orderWise {
	position: absolute;
	top: 60px;
	left: 665px;
}

.buttons {
	position: absolute;
	top:350px;
	left: 665px;
}
